$bg-color: #eee;

body {
  background-color: $bg-color !important;
}

main {
  max-width: 1000px;
}

#book-form {
  position: static;
  max-width: 500px;
  background-color: #fff;
}

@import "node_modules/bootstrap/scss/bootstrap";
