$bg-color: #eee;

body {
  background-color: $bg-color !important;
}

main {
  max-width: 1000px;
}

#book-form-container {
  display: none;
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
}

#book-form {
  position: relative;
  width: 400px;
  max-width: 500px;
  background-color: #fff;
}

#closeBtn {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 13px;
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

#error {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width:
  background-color: white;
  border-radius: 50%;
}

@import "node_modules/bootstrap/scss/bootstrap";
